/* Loboster Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.logo{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;


}